/* light green color D3DEDC (RGB 211, 222, 220) - change to #e6eceb
pink color shading-color
dark blue main color
med blue second color

font-family: 'Arapey', serif;
font-family: 'Unna', serif;*/

:root {
  --main-color: #7c99ac;
  --second-color: #92a9bd;
  --shading-color: #ffefef;
  --header-font-family: "Unna", serif;
}

.hero {
  text-align: right;
  font-family: var(--header-font-family);
  margin: 50px 100px;
  padding: 40px;
  background: #e6eceb;
}

h1 {
  color: var(--main-text);
  font-size: 75px;
  line-height: 50px;
}

h2 {
  color: var(--main-text);
  font-size: 42px;
}

.container {
  text-align: center;
  font-family: "Arapey", serif;
}

.project-link {
  padding: 15px 20px;
  color: var(--main-color);
  text-align: center;
  text-decoration: none;
  background: rgba(211, 222, 220, 0.5);
  border: solid 1px;
  border-radius: 4px;
}

:hover .project-link {
  cursor: crosshair;
}

:hover i {
  cursor: crosshair;
}

@media (max-width: 800px) {
  .hero {
    text-align: center;
    margin: 40px 50px;
    padding: 10px;
  }
  h1 {
    font-size: 44px;
    line-height: 30px;
  }

  h2 {
    color: var(--main-text);
    font-size: 26px;
  }
  .project-link {
    padding: 10px 15px;
  }

  p {
    padding: 10px 15px;
  }
}

footer {
  text-align: center;
  font-size: 40px;
  margin: 80px 40px;
}
