/* light green color D3DEDC
pink color shading-color
dark blue main color
med blue second color

font-family: 'Arapey', serif;
font-family: 'Unna', serif;*/

:root {
  --main-color: #7c99ac;
  --second-color: #92a9bd;
  --shading-color: #ffefef;
  --header-font-family: "Unna", serif;
}

.hero {
  text-align: center;
}

h1 {
  color: var(--main-text);
  font-family: var(--header-font-family);
  font-size: 75px !important;
}

h2 {
  color: var(--main-text);
  font-family: var(--header-font-family);
  font-size: 36px !important;
}

footer {
  text-align: center;
  font-size: 40px;
}
