:root {
  --main-color: #50616d;
  --second-color: #5c92c2;
  --shading-color: #ffefef;
  --header-font-family: "Unna", serif;
}

body {
  color: var(--second-color);
  text-align: center;
  font-family: "Arapey", serif;
  font-size: 16px;
}

.song {
  font-size: 20px;
  color: var(--main-color);
}
.navbar-custom {
  background: rgba(211, 222, 220, 0.4);
}

a.active {
  font-size: 20px;
  line-height: 25px;
}

.hero {
  text-align: right;
  font-family: var(--header-font-family);
  margin: 80px 100px 50px 100px;
  padding: 40px;
  background: #e6eceb;
  border-radius: 3px;
}

h1 {
  color: var(--main-color);
  font-size: 75px;
  line-height: 50px;
}

h2 {
  color: var(--main-color);
  font-size: 42px;
}

.content {
  margin: 50px 100px;
  padding: 40px;
  border: 1px solid var(--second-color);
  border-radius: 3px;
}

.project-link {
  padding: 15px 20px;
  color: var(--second-color);
  text-align: center;
  text-decoration: none;
  background: rgba(211, 222, 220, 0.5);
  border: solid 1px var(--second-color);
  border-radius: 4px;
}

.contact-link {
  color: var(--second-color);
}

:hover .project-link,
.icon-link,
.contact-link,
.portfolio-link,
.a-open-source {
  cursor: crosshair;
}

@media (max-width: 800px) {
  .hero {
    text-align: center;
    margin: 70px 50px 40px 50px;
    padding: 10px;
  }

  h1 {
    font-size: 44px;
    line-height: 30px;
  }

  h2 {
    font-size: 26px;
  }
  .project-link {
    padding: 10px 15px;
  }

  p {
    padding: 10px 15px;
  }

  .content {
    margin: 40px 50px;
    padding: 10px;
    border: 1px solid var(--second-color);
    border-radius: 3px;
  }
}

footer {
  text-align: center;
  font-size: 40px;
  margin: 80px 40px;
}

.open-source {
  font-family: "Arapey", serif;
  color: var(--second-color);
  font-size: 16px;
  font-style: italic;
}

.a-open-source {
  color: var(--second-color);
}
